<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>User Profile</title>
</head>

<body>
	<table>
		<tr>
			<th>Username</th>
			<th>Description</th>
			<th>Date></th>
		</tr>
		<tr th:if="${#lists.isEmpty(userEntity)}">
			<td colspan="7">No users found. Add User.</td>
		</tr>
		<tr th:each="userEntity : ${userEntity}">
			<td th:text="${userEntity.username}"></td>
			<td th:text="${userEntity.description}"></td>
			<td th:text="${userEntity.targetDate}"></td>
		</tr>
	</table>
</body>
</html>