.menu_container {
  display: flex;
}

.title_container {
  color: burlywood;
  flex: 5;
}

.one,
.two,
.three,
.four,
.five {
  height: 300px;
  width: 300px;
  border: 2px solid greenyellow;
  background-color: aqua;
  display: flex;
  justify-content: center;
  /* flex: 3; */
}

.two, .five {
  background-color: blue;
}

.outer_container {
  display: flex;
  flex: 10;
  /* justify-content: space-evenly; */
  align-items: center;
  flex-flow: row wrap;
}
