body {
  background-color: #141414;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.main_container {
  background-color: #1b1b1b;
  width: 60%;
  margin: 0px auto;
  top: 0px;
  left: 20%;
  position: absolute;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 40px 20px;
}

.profile {
  width: 60%;
  display: flex;
  flex-direction: row;
}

.name_title {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

#name {
  font-size: xx-large;
  font-weight: 700;
}

#title {
  font-size: large;
  font-weight: 400;
  color: steelblue;
}

.info {
  width: 40%;
  padding: 0px 40px;
}

#profile_pic {
  height: 150px;
  width: 150px;
  padding: 0px 40px;
}
p, .exp_title {
  color: gray;
}
.bio {
  font-size: medium;
  margin: 60px 20px;
}

.info table th {
  text-align: right;
}

.info table td {
  color: gray;
}

.session2 {
  margin: 60px 20px;
}

.experience {
  width: 70%;
}

aside {
  float: right;
  width: 30%;
  padding-left: 35px;
  margin-left: 35px;
}

.experience_box {
  width: 90%;
  position: relative;
}

.emp_header,
.edu_header {
  background-color: #383838;
  padding: 5px 10px;
}

.exp_item_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
}

@media screen and (max-width:1000px) {
  .main_container {
    width: 100%;
    left: 0px;
  }

  .header {
    flex-direction: column;
    justify-content: center;
  }
  #profile_pic {
    display: none;
  }
  .profile {
    width: 100%;
    margin: 0px auto;
  }
  .info {
    width: 100%;
    margin: 0px auto;
    margin-top: 20px;
  }
  aside {
    float: none;
    width: 100%;
    margin: 0px auto;
  }
  .experience {
    width: 100%;
    margin: 0px auto;
    margin-top: 30px;
  }
  .experience_box {
    width: 100%;
  }
}