body {
    background-color: #141414;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.main_container {
    background-color: #1b1b1b;
    height: 100%;
    width: 50%;
    margin: 0px auto;
    left: 25%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row;
}

.profile {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
}

.name_title {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

#name {
    font-size: xx-large;
    font-weight: 700;
}

#title {
    font-size: large;
    font-weight: 400;
    color: steelblue;
}

.info {
    width: 40%;
    margin: 40px 20px;
} 

#profile_pic {
    height: 150px;
    width: 150px;
    padding: 40px;
}

.bio {
    color:gray;
    /* margin: 0px auto; */
}

th {
    text-align: right;
}

td {
    color: gray;
}